# Зависимости
/node_modules
/client/node_modules
/server/node_modules

# Файлы сборки (Production builds)
/build
/dist
/client/build

# Секретные данные (ОЧЕНЬ ВАЖНО!)
# Никогда не загружаем файлы с паролями и ключами на GitHub
.env
.env.*
!.env.example

# Логи и отчеты
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage

# Системные файлы macOS
.DS_Store